@import "tailwindcss";

option:hover,
select:hover,
button:hover,
input:hover {
  cursor: pointer;
}

button {
  padding: 1px 2px;

  background: white;
  color: black;
  border: white 2px solid;
  border-radius: 4px;
}

button:hover {
  background: yellow;
  border-color: yellow;
}


body {
  background: black;
  color: white;
}

